<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.javaprog">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaProg">
        <activity android:name="com.app.javaprog.ContactUsActivity"></activity>
        <activity android:name="com.app.javaprog.SixtySixProgramActivity" />
        <activity android:name="com.app.javaprog.VisibilityModesActivity" />
        <activity android:name="com.app.javaprog.PackagesAcitivity" />
        <activity android:name="com.app.javaprog.InheritanceActivity" />
        <activity android:name="com.app.javaprog.SixtyFiveProgramActivity" />
        <activity android:name="com.app.javaprog.SixtyFourProgramActivity" />
        <activity android:name="com.app.javaprog.SixtyThreeProgramActivity" />
        <activity android:name="com.app.javaprog.SixtyTwoProgramActivity" />
        <activity android:name="com.app.javaprog.SixtyOneProgramActivity" />
        <activity android:name="com.app.javaprog.SixtyProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyNineProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyEightProgramActivity" />
        <activity android:name="com.app.javaprog.FiftySevenProgramActivity" />
        <activity android:name="com.app.javaprog.FiftySixProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyFiveProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyFourProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyThreeProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyTwoProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyOneProgramActivity" />
        <activity android:name="com.app.javaprog.FiftyProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyNineProgramActivity" />
        <activity android:name="com.app.javaprog.SortingActivity" />
        <activity android:name="com.app.javaprog.SearchingActivity" />
        <activity android:name="com.app.javaprog.FourtyEightProgramActivity" />
        <activity android:name="com.app.javaprog.FourtySevenProgramActivity" />
        <activity android:name="com.app.javaprog.FourtySixProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyFiveProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyFourProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyThreeProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyTwoProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyOneProgramActivity" />
        <activity android:name="com.app.javaprog.FourtyProgramActivity" />
        <activity android:name="com.app.javaprog.ArraysActivity" />
        <activity android:name="com.app.javaprog.KeywordsTheoryActivity" />
        <activity android:name="com.app.javaprog.CallByReferenceActivity" />
        <activity android:name="com.app.javaprog.CallByValueActivity" />
        <activity android:name="com.app.javaprog.ObjectReferenceActivity" />
        <activity android:name="com.app.javaprog.ThirtyNineProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtyEightProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtySevenProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtySixProgramActivity" />
        <activity android:name="com.app.javaprog.ConstructorClassActivity" />
        <activity android:name="com.app.javaprog.ObjectClassActivity" />
        <activity android:name="com.app.javaprog.StringProgram21" />
        <activity android:name="com.app.javaprog.StringProgram20" />
        <activity android:name="com.app.javaprog.StringProgram19" />
        <activity android:name="com.app.javaprog.StringProgram18" />
        <activity android:name="com.app.javaprog.StringProgram17" />
        <activity android:name="com.app.javaprog.StringProgram16" />
        <activity android:name="com.app.javaprog.StringProgram15" />
        <activity android:name="com.app.javaprog.StringProgram14" />
        <activity android:name="com.app.javaprog.StringProgram13" />
        <activity android:name="com.app.javaprog.StringProgram12" />
        <activity android:name="com.app.javaprog.StringProgram11" />
        <activity android:name="com.app.javaprog.StringProgram10" />
        <activity android:name="com.app.javaprog.StringProgram9" />
        <activity android:name="com.app.javaprog.StringProgram8" />
        <activity android:name="com.app.javaprog.StringProgram7" />
        <activity android:name="com.app.javaprog.StringProgram6" />
        <activity android:name="com.app.javaprog.StringProgram5" />
        <activity android:name="com.app.javaprog.StringProgram4" />
        <activity android:name="com.app.javaprog.StringProgram3" />
        <activity android:name="com.app.javaprog.StringProgram2" />
        <activity android:name="com.app.javaprog.StringProgram1" />
        <activity android:name="com.app.javaprog.StringProgramsActivity" />
        <activity android:name="com.app.javaprog.ThirtyFiveProgramActivity" />
        <activity android:name="com.app.javaprog.StringClassActivity" />
        <activity android:name="com.app.javaprog.CharWrapperClassActivity" />
        <activity android:name="com.app.javaprog.WrapperClassActivity" />
        <activity android:name="com.app.javaprog.ASCIICodeActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity android:name="com.app.javaprog.PatternProgram11" />
        <activity android:name="com.app.javaprog.PatternProgram10" />
        <activity android:name="com.app.javaprog.PatternProgram9" />
        <activity android:name="com.app.javaprog.PatternProgram8" />
        <activity android:name="com.app.javaprog.PatternProgram7" />
        <activity android:name="com.app.javaprog.PatternProgram6" />
        <activity android:name="com.app.javaprog.PatternProgram5" />
        <activity android:name="com.app.javaprog.PatternProgram4" />
        <activity android:name="com.app.javaprog.PatternProgram3" />
        <activity android:name="com.app.javaprog.PatternProgram2" />
        <activity android:name="com.app.javaprog.PatternProgram1" />
        <activity android:name="com.app.javaprog.PatternProgramsActivity" />
        <activity android:name="com.app.javaprog.ThirtyFourProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtyThreeProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtyTwoProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtyOneProgramActivity" />
        <activity android:name="com.app.javaprog.ThirtyProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyNineProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyEightProgramActivity" />
        <activity android:name="com.app.javaprog.TwentySevenProgramActivity" />
        <activity android:name="com.app.javaprog.TwentySixProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyFiveProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyFourProgramActivity" />
        <activity android:name="com.app.javaprog.LoopingActivity" />
        <activity android:name="com.app.javaprog.TwentyThreeProgramActivity" />
        <activity android:name="com.app.javaprog.SeriesProgram7" />
        <activity android:name="com.app.javaprog.SeriesProgram6" />
        <activity android:name="com.app.javaprog.SeriesProgram5" />
        <activity android:name="com.app.javaprog.SeriesProgram4" />
        <activity android:name="com.app.javaprog.SeriesProgram3" />
        <activity android:name="com.app.javaprog.SeriesProgram2" />
        <activity android:name="com.app.javaprog.SeriesProgram1" />
        <activity android:name="com.app.javaprog.SeriesProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyTwoProgramActivity" />
        <activity android:name="com.app.javaprog.TwentyOneProgramActivity" />
        <activity android:name="com.app.javaprog.TwenthProgramActivity" />
        <activity android:name="com.app.javaprog.NineteenProgramActivity" />
        <activity android:name="com.app.javaprog.EighteenProgramActivity" />
        <activity android:name="com.app.javaprog.SeventeenProgramActivity" />
        <activity android:name="com.app.javaprog.ScannerClassActivity" />
        <activity android:name="com.app.javaprog.FunctionInJavaActivity" />
        <activity android:name="com.app.javaprog.LibraryActivity" />
        <activity android:name="com.app.javaprog.UserDefinedActivity" />
        <activity android:name="com.app.javaprog.ExpressionsActivity" />
        <activity android:name="com.app.javaprog.OperatorsActivity" />
        <activity android:name="com.app.javaprog.LiteralsActivity" />
        <activity android:name="com.app.javaprog.PunctuatorsActivity" />
        <activity android:name="com.app.javaprog.IdentifierActivity" />
        <activity android:name="com.app.javaprog.KeywordsActivity" />
        <activity android:name="com.app.javaprog.TokensInJava" />
        <activity android:name="com.app.javaprog.DataTypesActivity" />
        <activity android:name="com.app.javaprog.ObjectOrientedActivity" />
        <activity android:name="com.app.javaprog.EigthProgramActivity" />
        <activity android:name="com.app.javaprog.SixteenProgramActivity" />
        <activity android:name="com.app.javaprog.FifteenProgramActivity" />
        <activity android:name="com.app.javaprog.FourteenProgramActivity" />
        <activity android:name="com.app.javaprog.ThirteenProgramActivity" />
        <activity android:name="com.app.javaprog.TwelfthProgramActivity" />
        <activity android:name="com.app.javaprog.EleventhProgramActivity" />
        <activity android:name="com.app.javaprog.TenthProgramActivity" />
        <activity android:name="com.app.javaprog.NinthProgramActivity" />
        <activity android:name="com.app.javaprog.SeventhProgramActivity" />
        <activity android:name="com.app.javaprog.SixthProgramActivity" />
        <activity android:name="com.app.javaprog.FifthProgramActivity" />
        <activity android:name="com.app.javaprog.FourthProgramActivity" />
        <activity android:name="com.app.javaprog.ThirdProogramActivity" />
        <activity android:name="com.app.javaprog.SecondProgramActivity" />
        <activity android:name="com.app.javaprog.FirstProgramActivity" />
        <activity android:name="com.app.javaprog.VariablesActivity" />
        <activity android:name="com.app.javaprog.IntroductionActivity" />
        <activity android:name="com.app.javaprog.TypesOfComputerActivity" />
        <activity android:name="com.app.javaprog.AboutAppActivity" />
        <activity android:name="com.app.javaprog.ProgramsActivity" />
        <activity android:name="com.app.javaprog.TheoryActivity" />
        <activity android:name="com.app.javaprog.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.app.javaprog.MainActivity" />
    </application>

</manifest>